.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px 0;
    padding-bottom: 5px;
    background-color: rgb(213, 238, 247);
}


.header #top{
    margin-left: 50%;
    display:flex;

}
.header #headerlinks {
    margin: 10px 0 5px 0;
    text-align: center;
}
#headerlinks a {
    padding: 5px 20px 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 10%;
}
#headerlinks a:hover{
    background-color: white;
}
.header #top #headerInfo{
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px  2px lightblue;
    margin-left: -25px;
    max-width: 50px;
    transition: all 0.1s;
    display:flex;
    overflow: hidden;

    
}
.header #top #headerInfo p {
    visibility: hidden;
    overflow:visible;
    position:absolute;
    margin-left: 70px;
    
}


.header #top #headerInfo:hover{
    width: 160px;
    margin-left: -80px;
    max-width: 160px;
}
.header #top #headerInfo:hover  p {
    visibility: visible;
}

body {
    background-color: lightblue;
margin: 0 0 0 0;
}
@media (orientation: portrait) {
    #headerlinks a {
        font-size: 2rem;
    }


}

.screen {
    width: 98vw;
    margin-left: 1vw;
    height: 80vh;
    background-image: url("../images/Windows_desktop.png");
    background-color: rgb(6, 71, 145) ;
    background-repeat: no-repeat;
    background-size: contain;
}