.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px 0;
    padding-bottom: 5px;
    background-color: rgb(213, 238, 247);
}


.header #top {
    margin-left: 50%;
    display: flex;
    left: 0;

}

.header #headerlinks {
    margin: 10px 0 5px 0;
    text-align: center;
}

#headerlinks a {
    padding: 5px 20px 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 10%;
}

#headerlinks a:hover {
    background-color: white;
}

.header #top #headerInfo {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightblue;
    margin-left: -25px;
    max-width: 50px;
    transition: all 0.1s;
    display: flex;
    overflow: hidden;


}

.header #top #headerInfo p {
    visibility: hidden;
    overflow: visible;
    position: absolute;
    margin-left: 70px;

}


.header #top #headerInfo:hover {
    width: 160px;
    margin-left: -80px;
    max-width: 160px;
}

.header #top #headerInfo:hover p {
    visibility: visible;
}

body {
    background-color: lightblue;
    margin: 0 0 0 0;
}


#screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.desktop {
    background-image: url("../images/tiles.jpg");
    background-color: rgb(6, 71, 145);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
}

.item img {
    height: 10vmin;
}

.item {
    margin: 10px;
    text-align: center;
}

.item p {
    margin-top: 0;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.window {
    width: 40vw;
    height: 50vh;
    background-color: rgb(213, 238, 247);
    position: absolute;
    top: 20vh;
    left: 30vw;
    border: 2px solid darkblue;
    border-radius: 5px;
    /*translate: 0 20px;*/
    padding-bottom: 4vh;
    resize: both;
    overflow: hidden;

}

.controlbar {
    margin-top: 0;
    flex: auto;
    height: 4vh;
    width: 100%;
    background-color: lightblue;

    margin-bottom: 0;
}

.controlbar button {
    margin: 0.5vh;
    height: 3vh;
    width: 3vh;
    background-color: rgb(213, 238, 247);
    border: 0 none;
    border-radius: 5px;

}

.controlbar button:hover {
    background-color: white;

}

.windowcontent {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;

}

.mdwrapper {
    flex-flow: row wrap;
    text-align: justify;
    width: 96%;
    padding-left: 2%;
    font-size: 1rem;
}

iframe {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

@media (orientation: portrait) {
    #headerlinks a {
        font-size: 2rem;
    }

    .window {
        width: 98vw;
        left: 1vw;
    }

}

@media (max-width: 1000px) {
    #headerlinks a {
        font-size: 3rem;
    }

    .mdwrapper {
        font-size: 2rem;
    }

    .item img {
        height: 20vmin;
    }

    .item p {

        font-size: 2rem;
    }

}